@import url(https://fonts.googleapis.com/css?family=Nunito);body {
  background-color: #f8fafc;
  margin: 0;
}

#nav {
  background-color: #fff;
}

#nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav ul li {
  list-style-type: none;
}

#nav ul li a {
  color: #3490dc;
  text-decoration: none;
  padding: 10px;
}

#nav ul li a:hover {
  color: #e3342f;
}

.button {
  background-color: #fff;
  border-radius: 7px;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}

.button-primary {
  border: 1px solid #3490dc;
  color: #3490dc;
}

.button-primary:hover {
  background-color: #3490dc;
  color: #fff;
}

.button-accent {
  border: 1px solid #6cb2eb;
  color: #6cb2eb;
}

.button-accent:hover {
  background-color: #6cb2eb;
  color: #fff;
}

.container {
  display: block;
  margin: 30px auto;
  width: 80%;
}

.form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
}

.form input {
  background-color: #fff;
  box-sizing: content-box;
  border: 1px solid #f3f3f3;
  margin: 5px 0;
  padding: 10px;
  width: 100%;
}

.form button {
  background-color: #fff;
  box-sizing: content-box;
  border: 1px solid #6cb2eb;
  color: #6cb2eb;
  margin-top: 30px;
  padding: 10px;
  width: 100%;
}

.form button:hover {
  background-color: #6cb2eb;
  cursor: pointer;
  color: #fff;
}

.lista-pagos {
  padding: 0;
}

.lista-pagos li {
  background-color: #fff;
  border: 1px solid #f3f3f3;
  list-style-type: none;
  margin: 4px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message {
  color: #fff;
  margin: 5px 0;
  padding: 10px;
  width: 100%;
}

.message-success {
  background-color: #38c172;
}

.message-error {
  background-color: #e3342f;
}

